$

body {
  background: #F0ECE5;
}

.post-button .btn{
border-radius: 5px;
border: 2px solid #161A30;
background: transparent;
color: #161A30;

&:hover {
  border: 2px solid #161A30;
}
}

.post-body{
  a {
    color: #337AB7;
    text-decoration: none;
  }
}